@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}
.dark-mode{
    background-color: var(--darkModeBG);
}
.dark-mode-text{
  color: var(--darkModeText);
}
.dark-mode-shadow{
  box-shadow: var(--darkModeShadow);
}
.dark-mode-nav{
  background-color: var(--darkModeBG);
  color: var(--darkModeText);
}

.light-mode{
    background-color: var(--lightModeBG);
}
.light-mode-text{
  color: var(--lightModeText);
}
.light-mode-shadow{
  box-shadow: var(--lightModeShadow);
}
.light-mode-nav{
  background-color: var(--lightModeBG);
  color: var(--lightModeText);
}
/* Color */
:root{
    --primary: #FF4321;
    --darkModeBG: #292929;
    --darkModeText: #fff;
    --lightModeBG: #edf2fc;
    --lightModeText: #292929;
    --darkModeShadow: -3px -3px 2px rgba(133, 133, 133, 0.3),
                      5px 5px 5px rgba(0, 0, 0, 0.2),
                      5px 5px 5px rgba(0, 0, 0, 0.2);
    --lightModeShadow:-3px -3px 2px rgba(177, 177, 177, 0.3),
                      5px 5px 5px rgba(0, 0, 0, 0.1),
                      5px 5px 5px rgba(0, 0, 0, 0.1);
}
/* ========================== */
nav>input[type="checkbox"]{
  position: absolute;
  top: 3rem;
  right: 1rem;
  display: none;
}
nav>label{
  position: absolute;
  top: 3rem;
  right: 1rem;
  z-index: 11;
  animation: spinner .8s ease infinite forwards 0s;
  color: var(--primary);
}
/* ==========================*\
      Spinner Animation start
|*============================*/
@keyframes spinner{
  100%{
      transform: rotate(360deg);
  }
}
/* ==========================*\
      Spinner Animation End
|*============================*/
nav>label>#fa-cog{
font-size: 3.5rem;
cursor: pointer;

}
nav ul{
  /* background-color: var(--lightModeBG); */
  display: inline-block;
  padding: 2rem 3rem;
  position: fixed;
  top: 3rem;
  right: 5.5rem;
  z-index: 10;
  transform: translateX(150%);
  transition: transform 250ms ease-in-out;
  /* box-shadow: var(--lightModeShadow); */
}
nav ul li{
  list-style: none;
  padding: 2rem;
}
nav ul li a{
  /* color: var(--lightModeText); */
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  transition: color .1s ease-in;
  text-transform: uppercase;
}
nav ul li a.selected,nav ul li a:hover{
  color: var(--primary);
}
nav ul li a i{
  margin-right: 1rem;
}
#checkToggler:checked ~ #sideMenu{
  transform: translateX(0);
}
/* Nav end */
/* ========================== */
.hero-height{
  height: 100vh;
}
.images{
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  
}
.images img{
  right: 100px;
  bottom: 0;
  transition: all 1s;
}
.images #back-image{
  max-width: 500px;
  position: absolute;
  bottom: -10px;
  right: 0;
  left: 0;
}
.images:hover #back-image{
  transform: translateY(-30px);
}
.images:hover .img2{
  transform: translateX(30px);
}
/* Type writer */
.content{
  color: var(--primary);
}
.content h1{
  font-size: 5.5rem;
  font-weight: 600;
}
.content span{
  font-size: 5.5rem;
  font-weight: 600;
  color: var(--primary);
}
.content p{
  font-size: 2rem;
  font-weight: 500;
  padding-right: 1rem;
  color: var(--darkModeText);
}
